[submodule "vito-robot"]
	path = vito-robot
	url = https://github.com/CentroEPiaggio/vito-robot.git
[submodule "dualmanipulation"]
	path = dualmanipulation
	url = https://bitbucket.org/dualmanipulation/dualmanipulation.git
[submodule "calibration"]
	path = calibration
	url = https://github.com/CentroEPiaggio/calibration.git
[submodule "pacman_vision"]
	path = pacman_vision
	url = git@bitbucket.org:Tabjones/pacman_vision.git
