[submodule "vito-robot"]
	path = vito-robot
	url = https://github.com/CentroEPiaggio/vito-robot.git
[submodule "dualmanipulation"]
	path = dualmanipulation
	url = https://bitbucket.org/dualmanipulation/dualmanipulation.git
[submodule "calibration"]
	path = calibration
	url = https://github.com/CentroEPiaggio/calibration.git
[submodule "unipi-grasp-datasets"]
	path = unipi-grasp-datasets
	url = https://github.com/CentroEPiaggio/unipi-grasp-datasets.git
